################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataTemplateTest/DataTemplateTest/DataTemplateTest/bin/Debug/netstandard2.0
