################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataTemplateTest/DataTemplateTest/DataTemplateTest/bin/Debug/netstandard2.0
/DataTemplateTest/DataTemplateTest/DataTemplateTest/obj
/DataTemplateTest/DataTemplateTest/DataTemplateTest.Android/bin/Debug
/DataTemplateTest/DataTemplateTest/DataTemplateTest.Android/obj
/DataTemplateTest/.vs/DataTemplateTest/v15
/.vs
